.main-content
    .main-content__container
        .main-content__content
            .gmap__container
                #map(style="width: 100%; height: 90vh")

                .gmap__buttons
                    button.gmap__buttons--nearby Posição mais próxima
                    select.gmap__buttons--select-position
                        option(value="localizate") Localizar
                .gmap__address
