.main-content {
    &__content {
        padding: 1em 0;
    }
}

#map {
    position: absolute;
}

.gmap {
    &__container {
        position: relative
    }

    &__address {
        display: none;
        position: absolute;
        z-index: 1000;
        background: #fff;
        padding: 10px;
        border: 1px solid rgba(#000, .4);
        top: 10px;
        right: 10px;

        box-shadow: 2px 2px 15px 1px rgba(#000, .3);

        &--dist,
        &--time {
            font-size: 1.2em;
            > span {
                font-weight: 700;
                font-size: .9em !important;
            }
        }

        &--title {
            font-size: 1.1em;
            font-weight: 700;
            margin-bottom: 5px;
        }
    }

    // buttons
    &__buttons {
        position: absolute;
        top: 20px;
        left: 20px;

        background: rgba(#000, .4);
        padding: 15px;

        &--nearby,
        &--select-position {
            display: block;
            width: 100%;
        }

        &--nearby {
            font-size: 1em;
            line-height: 1.8;
            padding: 0 1em;
            margin-bottom: 10px;
        }

        &--select-position {
            line-height: 2.2;
        }
    }
}
